html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  line-height: 22.68px;
  font-size: 1.4rem;
  line-height: 2.268rem;
  font-family: Avenir, HelveticaNeue, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  color: #727c80;
}

@font-face {
  src: url(./fonts/avenir-next-regular-webfont.woff);
  font-weight: 400;
  font-family: "avenir";
}

@font-face {
  font-family: "Avenir";
  font-weight: 500;
  src: url(./fonts/avenir-next-medium-webfont.woff);
}

@font-face {
  src: url(./fonts/sharpsansno1-medium-webfont.woff);
  font-family: "Sharp Sans Medium";
}

p {
  margin-top: 0;
}

.img-grid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
}

.advert {
  max-width: 185px;
}

/* basic styles */

.section {
  padding: 4.8rem 0;
}

/* header */

.header {
  position: relative;
  z-index: 4;
}

/* header wrapper for grid */
.wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #bbc7ce;
  margin: 0;
}

/* first grid */

.explore-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 2.5rem;
}

/* navigation */

.nav {
  display: flex;
}

/* hero-container */

.hero-container {
  height: 500px;
  margin-top: -62px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(https://www.schoolrunner.org/img/hero_girl.jpg) no-repeat;
  background-position: center -165px;
  background-size: cover;
  /* color: #fff; */
}

.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(69, 77, 82, 0.4), rgba(69, 77, 82, 0.3));
  z-index: 1;
  pointer-events: none;
}

.hero-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 7;
}

.hero-container .text-large {
  font-size: 26px;
  line-height: 39px;
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #454d52;
  padding: 1.4rem 0 2.6rem;
  margin: 0;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  color: #fff;
}

.hero-container .hero-title {
  font-size: 48px;
  line-height: 72px;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 7.2rem;
  margin: 0;
  padding: 0;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* section-info */

.section-info {
  padding: 2.6rem 0 4.8rem;
  background: #52c1ac
    url(https://www.schoolrunner.org/img/icon-texture-bg-07.png);
}

/* ყველა სექციას ეთნაირი პადინგი აქვს? */

/* section contact */

.section-contact {
  background: #f7f7f7;
  padding: 4.8rem 0 9rem;
}

/* problem */

.section-contact .section-title {
  margin-bottom: 6rem;
}

.grid-simple-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

/* reddirect to contact */

.section-redirect-contact {
  padding: 4.8rem 0 8rem;
}

/* footer */
.footer {
  background: #f7f7f7;
  padding: 4.8rem 0 2.6rem;
}

.footer-sect1 {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.foot-sect1-left {
  display: flex;
}

.foot-nav,
.social-links {
  display: flex;
  flex-direction: column;
  padding: 0 8rem 0 0;
}

.footer-sect2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.support {
  text-align: center;
}
