/* global */
html {
  color: #1d0016;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

/* helpers */

.wrapper {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 12px;
}

/* header */

.header {
  background: #fff;
  padding: 1em 2.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  width: 32px;
}

.nav {
  display: flex;
}

.navlink {
  display: block;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.33s ease-in;
  font-size: 12px;
  margin: 0 24px;
}

/* banner */

.hero-banner {
  padding: 128px 0;
  background: #f0f5f8;
}

.hero-banner .textarge {
  line-height: 1.25;
  font-size: 48px;
  margin: 0;
}

/* section title */
.section {
  margin-top: 64px;
}

.sec-title {
  font-size: 14px;
  text-transform: uppercase;
}

/* work preview start */
/* Articles */

.featured-work {
  padding-top: 64px;
}

.works {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

@media (min-width: 560px) {
  .works {
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}

.thumbnail {
  padding-bottom: 54%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.article-title {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 20px;
  text-transform: capitalize;
}

.article-description {
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0;
  padding-bottom: 8px;
  font-size: 14px;
}

/* Articles larger */

.works-2 {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

@media (min-width: 800px) {
  .works-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* posts */

.posts {
  margin-bottom: 128px;
}

.post {
  display: block;
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.25s ease-out;
  border-bottom: 1px solid;
}

.post:hover,
.post:focus {
  opacity: 0.65;
}

.post h3 {
  font-size: 20px;
  margin: 0;
  padding: 4px 0;
}

/* footer */

.footer {
  background-color: #1d0016;
  color: white;
  padding: 1rem 2rem;
}

/* adjust sizes */

@media (max-width: 900px) {
  .hero-banner .text-large {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 0.6em 1.2em;
  }

  .navlink {
    margin: 0 16px;
  }

  .hero-banner {
    padding: 60px 0;
  }

  .post {
    padding: 6px 0;
  }

  .post h3 {
    font-size: 1.05rem;
  }
}
